@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';



/* SCSS Example #1*/

$ww_goldenrod: #DAA520;
$ww_redwood: #995F4C;
$ww_ketchup: #CC2522;
$ww_purple-lightning: #c005f2;
$ww_red_condiment: #751600;
$ww_pink: #F7BE9F;
$ww_winter_blue: #253960;

/* Mixin Example */
@mixin colorCenter ($color) {
  text-align: center;
  color: $color;
}

footer p {
  @include colorCenter($ww_goldenrod);
}

footer h6 {
  @include colorCenter(white);
}

@mixin transform($property){

  -webkit-transform: $property;
  -ms-transform: $property;
    transform: $property;
}

.nav-item a:hover {
  @include transform(rotate(10deg));
}

body {
  background-image: url("https://images.unsplash.com/photo-1599992836360-f88e279f8350?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=800");
  background-size: cover;
  margin: 0 auto;
  border-left: 10px solid #1d0224;
  border-right: 10px solid #3d024d;
  border-top: 10px solid #5c0d6e;
}
header {
  background-image: url("https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  padding-bottom: 4em;
  padding-top: 2em;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}
h1 {
  font-size: 405%;
  opacity: 0.9;
}
.hotdog-header {
  margin-left: 10px;
  margin-top: 10px;
}
.hotdog-paragraph {
  margin-left: 5px;
}
.card-tint {
  background-color: $ww_red_condiment;
}
.featured-header {
  text-align: center;
  font-size: 130%;
  color: $ww_goldenrod;
}
.my-3 {
  color:$ww_pink;
  text-align: center;
}
.centered {
  margin: 0 auto;
}
aside {
  color: black;
  margin: 0 auto;
}
p {
  color: white;
}

.nav-link.active{
  background-color: #751600;
  color: goldenrod;
}
.nav-link.gallery {
  color: #00CFC1;
}
img {
  max-height: 100%;
  max-width: 100%;
}
#logo {
  height: 275px;
}
.nav {
  font-size: 200%;
  background-color: #c42500;
  border-bottom: 5px ridge #730391;
  border-top: 3px ridge #3d024d;
  border-right: 4px solid #c005f2;
  border-left: 4px solid #a604d1;
  justify-content: center;
  box-shadow: 4px 4px 5px 4px #333333;
  margin-bottom: 3%;
}
.alert-danger {
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
width: 50%;
text-align: center;
margin: 0 auto;
margin-bottom: 2%;
}
ul.nav.nav-tabs {
    background-image: url("https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80");
    background-size: 100%;
}
.card-text {
  color: black;
}
.align-center {
  margin: 0 auto;
  margin-bottom: 10px;
}
a.nav-link.dropdown-toggle {
  color: yellow;
}
.d-flex {
  padding: 9em;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  oolor: white;
}
.hotdog-container {
  background-color: #cc2522;
}
.hotdog-photo-container {
  background-color: $ww_goldenrod;
  color: white;
}
.hotdog-paragraph {
  margin-left: 10px;
  margin-top: 10px;
}
.right-aside {
  color: $ww_pink;
}
.card-title {
  color: $ww_redwood;
}
#hotdog-right-boundry {
  padding-right: 2em;
}
/* Nesting example #1*/
section.row.popover-examps {
  background: $ww_redwood;
  padding-top: 2em;
  padding-bottom: 0em;

h4 {
  color: $ww_goldenrod;
  }

  .btn-secondary {
    background-color: $ww_goldenrod ;
    border: none;
    &:focus {
      background-color: $ww_ketchup;
      border: #730391;
    }
  }
}
button.btn.btn-secondary {
  background-color: $ww_ketchup;
  border: none;
  color: white;
  &:hover {
    background-color: $ww_pink;
    border: $ww_red_condiment;
    color: $ww_red_condiment;
  }
  &:active {
    background-color: $ww_winter_blue !important;
  }
}
